.container {
  border: 1px solid black;
  padding: 10px;
  width: 80%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgb(244, 250, 250);
  margin-bottom: 5%;
}

.post {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
  margin-top: 7px;
  margin-bottom: 10px;
}
.post_action {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 100%;
  user-select: none;
  transition: color 0.2s ease;
  gap: 20px;
}
.coms {
  height: 17px;
  margin-top: 60%;
}
.C-contener {
  border: 1px solid black;
  padding: 10px;
  width: 80%;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 2%;
}
textarea {
  margin-top: 2%;
  width: 100%;
  height: 50px;
  border-radius: 10px;
}
.comment {
  width: 100%;
  display: flex;
}
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: inline-block;
  margin-bottom: -1.5%;
}

.icon-button img {
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease;
}

.icon-button:hover img {
  transform: scale(1.2);
}
.coms {
  padding: 10%;
}
